fastapi
google-api-python-client
google-auth-oauthlib
httpx
pipecat-ai[deepgram,elevenlabs,openai]
pydantic[email]
pytest>=7.0
python-dotenv
python-multipart
pytz
stripe
supabase==2.23.0
tiktoken
twilio
uvicorn
